<%-include ('../../partials/header.ejs')%>
<%-include ('../../partials/navbar.ejs')%>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody><% articles.forEach(article => { %>
            <tr>
                <th><%= article.id %></th>
                <th><%= article.title %></th>
                <th><%= article.slug %></th>
                <th><%= article.category.title %></th>
                <th>

                    <a href="/admin/articles/edit/<%= article.id %>" class="btn btn-warning">Editar</a>

                    <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="deleteCategory(event, this)"> <! – O this passa o formulário como parâmetro para a função deleteCategory – >
                        <input type="hidden" name="id" value="<%= article.id %>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </th>
            </tr>
            <% }) %>
        </tbody>    
    </table>
</div>

<%-include ('../../partials/footer.ejs')%>
<script>
    function deleteCategory(event, form){
        event.preventDefault();
        console.log("O artigo não foi enviado!");
        var decision = confirm("Você deseja deletar este artigo?");
        if(decision){
            form.submit();
        }
    }
</script>